*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pink-background: #fae8ff;
	--fuchsia-background: #d946ef;
	--text-color: #0f172a;
	--light-text-color: #64748b;
	--white: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background: var(--pink-background);
}

#root {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.birthdays-container {
	background-color: var(--white);
	width: min(90%, 600px);
	padding: 2rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.birthdays-header {
	font-size: 2rem;
	line-height: 2rem;
}

.birthdays-list {
	padding-block: 1rem;
}

.birthdays-list-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-block: 0.7rem;
}

.birthdays-item-data {
	order: 2;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.birthdays-data-header {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.birthdays-data-years {
	color: var(--light-text-color);
}

.birthdays-item-img {
	width: 75px;
	height: 75px;
	object-fit: cover;
	border-radius: 50%;
	order: 1;
}

.birthdays-btn {
	padding-block: 0.5rem;
	color: var(--white);
	background-color: var(--fuchsia-background);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
}
